@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <h4 class="m-4 font-weight-bolder">Please sign in to continue =)))</h4>
        </div>
    </div>
</div>
